{% extends 'master.html.twig' %}
{% block title %}Songs Tracker{% endblock %}

{% block top_css_block %}
{% endblock %}

{% block top_row %}
    <div class="pz-spacer col-md-12"></div>
{% endblock %}

{% block menu_left %}
    {% include 'partials/fe-songs-menu.html.twig' %}
{% endblock %}

{% block content %}
    <section id="pz-main-wrapper" class="pz-main-wrapper no-lr-pad containR">
        <span class="scroll-to-top" id="scroll-to-top">
            <span class="fa fa-chevron-up scroll-to-top-icon" id="scroll-to-top-icon"></span>
        </span>
        <section>
            {% include'partials/flash-message.render.html.twig' %}
            <section >
                <div class="pz-time-tracker-wrapper col-md-12 no-lr-pad">
                    <div class="col-md-12 no-lr-pad pz-form-wrapper" id="pz-form-wrapper">
                        {% set cue      = 0 %}
                        {% set oddEven  = ' pz-odd' %}
                        {% set allSongs   = songs  %} <!-- | ordered_by_artist_with_max_songs -->
                        {% for song in songs %}
                            {% if cue % 2 == 0 %}
                                {% set oddEven = ' pz-even' %}
                            {% else %}
                                {% set oddEven = ' pz-odd' %}
                            {% endif %}
                            <div class="col-md-12 no-lr-pad pz-row-wrap {{ oddEven }}">
                                <div class="pz-strip row">
                                    <div class="col-md-3">
                                        <img src="{{ song.coverArt.image }}" class="img-thumbnail pz-cover-art-thumb">
                                        {{ song.name }}
                                    </div>
                                    <div class="col-md-3">
                                        <a class="" style="display:block;padding-top:17px;" href="{{ path('rte_artist_songs', {'id':song.artist.id}) }}">
                                            {% if isArtistSongs is defined and isArtistSongs %}
                                            {% else %}
                                                <span class="pz-badge-wrap">
                                                    <span class="badge">{{ song.artist.songs | sequence_length }}</span>
                                                </span>
                                            {% endif %}

                                            {{ song.artist.name}}
                                        </a>
                                    </div>
                                    <div class="col-md-6 pz-player-pod">
                                        <audio class="pz-audio-player" src="{{ song.file }}" aria-controls="" controls></audio>
                                    </div>
                                </div>
                            </div>
                            {% set cue = cue + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
{% endblock %}

